
			<% for(var i=0; i<dataresult.result.length; i++){ %>
              <dl><dt>
				<a href="app_detail_html?id=<%= dataresult.result[i].id %>" onclick="_hmt.push(['_trackEvent', '<%=tjnm %>全部_<%=i+1 %>','click'])">
				<div class="mask_white "></div>
                  <div class="app_tag">
				  <% if(dataresult.result[i].icon_tag){
						var hanzi;
						switch (dataresult.result[i].icon_tag){
							case "chong_fan":
								 hanzi="充返";
								 break;
							case "shou_fa":
								 hanzi="首发";
								 break;
							case "re_men":
								 hanzi="热门";
								 break;
							} %>
						<img src="../../static/images/appcenter/<%= dataresult.result[i].icon_tag %>.png"><span><%= hanzi %></span>
					<% } %>
				</div></a>
				<a class='az_btn' href="<%=dataresult.result[i].quick_download_download_url%>" onclick="_hmt.push(['_trackEvent', '<%=tjnm %>全部_<%=i+1 %>_一键下载','click'])">一键下载</a>
				<img src="<%= dataresult.result[i].icon_url %>">
                </dt>
                <dd class="app_name"><a href="app_detail_html?id=<%= dataresult.result[i].id %>" onclick="_hmt.push(['_trackEvent', '<%=tjnm %>全部_<%=i+1 %>','click'])"><%= dataresult.result[i].title %></a></dd>
                
                <dd class="app_star">
                 <% 	var array_picture = [{0:'stars_0'},{0.5:'stars_1'},{1:'stars_2'},{1.5:'stars_3'},{2:'stars_4'}];
						var score=dataresult.result[i].level;
						//alert(score);
						var star_array=[];
						var star_pic='';
						for(var j=0;  j<5; j++){
							if(score>2){
								star_array.push(2);
								score-=2;
							}else{
								star_array.push(score);
								score=0;
							}
						}
						$.each(star_array,function(){
							if (this <= 0)
							{
								star_pic = array_picture[0][0];							
							}
							else if (this <= 0.5)
							{
								star_pic = array_picture[1][0.5];
							}
							else if (this < 1.5)
							{
								star_pic = array_picture[2][1];
							}
							else if (this < 2)
							{
								star_pic = array_picture[3][1.5];
							}
							else if (this >= 2)
							{
								star_pic = array_picture[4][2];
							}
						%>	
							<img src='../../static/images/browser_appcenter/<%= star_pic %>.png'>
							
						<% });%>
					
                </dd>
                <dd class="app_type">
					<%	
					if(dataresult.result[i].type!="" && dataresult.result[i].type instanceof Array){
						$.each(dataresult.result[i].type,function(){ %>
							<a href='app_center_tag_html?tag=<%= this %>'><span><%= this %></span></a>
					<% })
					} %>
				</dd>
                <dd class='app_down'><span><%= dataresult.result[i].download_count %></span>+次下载</dd>
              </dl>
             <%  } %>
             
              
      